/* 

*/
/* 
file://wsl.localhost/Ubuntu/home/david/repos/ad-web-launcher/web-react/src/styleTokens/tokens/label.jsonc
*/
/* 
file://wsl.localhost/Ubuntu/home/david/repos/ad-web-launcher/web-react/src/styleTokens/tokens/label.jsonc
*/
:root {
  --f-bg-test: blue;
}

.bottom {
  top: var(--final-label-offset-y);
}

.top {
  bottom: var(--final-label-offset-y);
}

.left {
  right: var(--final-label-offset-x);

}

.right {
  left: var(--final-label-offset-x);
}

.center {
  --f-label-width: 0;
}

.label {
  position: var(--final-label-position);
  text-align: var(--final-label-align);
  color: var(--final-label-col);
}