html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background: linear-gradient(135deg, #0f2027, #203a43, #2c5364);
    color: white;
    font-family: sans-sarif;
}

#clock {
    position: absolute;
    top: 5vh;      /* 5% of viewport height from top */
    left: 50%;
    transform: translateX(-50%);
    font-size: 5vh;  /* scales with screen height */
    font-size: 48px;
    margin-bottom: 20px;
    animation: pulse 2s infinite;
}

@keyframes pulse {
0% {transform: scale(1);}
50% {transform: scale(1.1);}
100% {transform: scale(1);}
}

button {
    padding: 10px 20px;
    font-size: 18px;
    cursor: pointer;
}