html, body {
margin: 0;
padding: 0;
display: flex;
flex-direction: center;
align-items: center;
height: 100vh;
background: linear-gradient(135deg, #0f2027, #203a43, #2c5364);
color: white;
font-family: sans-sarif;
}

#clock {
font-size: 48px;
margin-bottom: 20px;
animation: pulse 2s infinite;
}

@keyframes pulse {
0% {transform: scale(1);}
50% {transform: scale(1.1);}
100% {transform: scale(1);}
}

button {
padding: 10px 20px;
font-size: 18px;
cursor: pointer;
}